.discern-result {
  padding: 24px 0;
  &-image {
    width: 260px;
    height: 260px;
    display: block;
    margin: 70px auto 30px auto;
  }
  &-content {
    padding: 60px 20px 20px 20px;
    .at-article__p {
      margin: 25px 0;
    }
  }
  &-open-action {
    width: 100%;
    display: block;
    margin: 70px auto;
  }
}
