.home {
  &-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &-grid {
      padding: 20px 30px;
      .at-grid__flex .content-inner__img {
        width: 230px;
        height: 230px;
      }
    }
    &-divider {
      padding: 0 70px;
    }
  }
  &-banner {
    position: relative;
    &-image {
      width: 100%;
    }
    &-search {
      position: absolute;
      right: 5%;
      bottom: 30px;
      left: 5%;
      background-color: #fff;
      border-radius: 7px;
    }
  }
  &-scan {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 1000;
  }
}
